
@{
    ViewBag.Title = "Fotografie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fotografie</h2>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_FotografiaMenu")
    </div>
</div>
