#u1010
{
	background-color: #C1272D;
	position: relative;
}

#menuu1011
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1019,#u1022
{
	background-color: transparent;
	position: relative;
}

#u1023-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1022:hover #u1023-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u1022:active #u1023-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u1026,#u1029
{
	background-color: transparent;
	position: relative;
}

#u1030-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1029:hover #u1030-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u1022.MuseMenuActive #u1023-4 p,#u1029:active #u1030-4 p
{
	color: #C1272D;
	visibility: inherit;
}

#u1029.MuseMenuActive #u1030-4 p
{
	color: #C1272D;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

