.version.sculture /* version checker */
{
	color: #00001B;
	background-color: #2C9575;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 958px;
	min-height: 482px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 11px;
	padding-right: 2px;
	padding-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

#pu389
{
	width: 0.01px;
	margin-left: 10px;
}

#u389
{
	z-index: 2;
	width: 206px;
	margin-right: -10000px;
}

#u1126-6
{
	z-index: 87;
	width: 380px;
	background-color: transparent;
	color: #C1272D;
	text-align: right;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 439px;
}

#u1126-2
{
	line-height: 12px;
}

#u1126-4
{
	line-height: 14px;
}

#menuu391
{
	z-index: 4;
	width: 940px;
	margin-left: 10px;
	margin-top: 10px;
}

#u406
{
	width: 132px;
	min-height: 19px;
	margin-right: -10000px;
}

#u407
{
	width: 132px;
	padding-bottom: 2px;
}

#u407:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u407:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u407.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u410-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
	left: 46px;
}

#u407:hover #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u407:active #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u407.MuseMenuActive #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u392
{
	width: 148px;
	min-height: 19px;
	margin-right: -10000px;
	left: 134px;
}

#u393
{
	width: 148px;
	padding-bottom: 2px;
}

#u393:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u393:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u393.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u394-4
{
	width: 56px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
	left: 46px;
}

#u393:hover #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u393:active #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u393.MuseMenuActive #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u420
{
	width: 146px;
	min-height: 19px;
	margin-right: -10000px;
	left: 284px;
}

#u423
{
	width: 146px;
	padding-bottom: 2px;
}

#u423:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u423:active
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u423.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u425-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
	left: 45px;
}

#u423:hover #u425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u423:active #u425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u423.MuseMenuActive #u425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u399
{
	width: 141px;
	min-height: 19px;
	margin-right: -10000px;
	left: 432px;
}

#u400
{
	width: 141px;
	padding-bottom: 2px;
}

#u400:hover
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u400:active
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u402-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
	left: 45px;
}

#u400:hover #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u400:active #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u427
{
	width: 158px;
	min-height: 19px;
	margin-right: -10000px;
	left: 575px;
}

#u430
{
	width: 158px;
	padding-bottom: 2px;
}

#u430:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u430:active
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u430.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u432-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
	left: 45px;
}

#u430:hover #u432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u430:active #u432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u430.MuseMenuActive #u432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u413
{
	width: 205px;
	min-height: 19px;
	margin-right: -10000px;
	left: 735px;
}

#u414
{
	width: 205px;
	padding-bottom: 2px;
}

#u414:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u414:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u414.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u417-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
	left: 45px;
}

#u414:hover #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u414:active #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u414.MuseMenuActive #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#pu1010
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 10px;
}

#u1010
{
	z-index: 73;
	width: 3px;
	height: 253px;
	margin-right: -10000px;
	left: 96px;
}

#menuu1011
{
	z-index: 74;
	width: 87px;
	margin-right: -10000px;
	margin-top: 54px;
}

#u1019
{
	width: 87px;
}

#u1022
{
	width: 87px;
	min-height: 28px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u1022:hover
{
	width: 87px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u1022:active
{
	width: 87px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u1022.MuseMenuActive
{
	width: 87px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u1023-4
{
	width: 87px;
	min-height: 28px;
}

#u1022:hover #u1023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 87px;
	margin: 0px;
}

#u1022:active #u1023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 87px;
	margin: 0px;
}

#u1022.MuseMenuActive #u1023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 87px;
	margin: 0px;
}

#u1026
{
	width: 87px;
	margin-top: 2px;
}

#u1029
{
	width: 87px;
	min-height: 14px;
	padding-bottom: 49px;
	margin-right: -10000px;
}

#u1029:hover
{
	width: 87px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1029:active
{
	width: 87px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1029.MuseMenuActive
{
	width: 87px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1030-4
{
	width: 87px;
	min-height: 14px;
}

#u1029:hover #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 87px;
	margin: 0px;
}

#u1029:active #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 87px;
	margin: 0px;
}

#u1029.MuseMenuActive #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 87px;
	margin: 0px;
}

#u1696-12
{
	z-index: 93;
	width: 181px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 570px;
}

#u1697
{
	z-index: 105;
	width: 294px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 180px;
}

#buttonu1699
{
	z-index: 107;
	width: 123px;
	border-color: #787878;
	background-color: #C1272D;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 628px;
}

#buttonu1699:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 123px;
	min-height: 0px;
	margin: 185px -10000px 0px 0px;
}

#buttonu1699.ButtonSelected
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 123px;
	min-height: 0px;
	margin: 185px -10000px 0px 0px;
}

#u1700-4
{
	z-index: 108;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#buttonu1699:hover #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1699:hover #u1700-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1701-4
{
	z-index: 112;
	width: 144px;
	min-height: 178px;
	background-color: transparent;
	color: #C1272D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
}

#u1703
{
	z-index: 116;
	width: 655px;
	height: 3px;
	background-color: #C1272D;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 136px;
}

#u1704-4
{
	z-index: 117;
	width: 144px;
	min-height: 178px;
	background-color: transparent;
	color: #C1272D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 477px;
}

#u1717-10
{
	z-index: 121;
	width: 200px;
	min-height: 143px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 711px;
	left: 190px;
}

#u1718
{
	z-index: 131;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 190px;
}

#buttonu1720
{
	z-index: 133;
	width: 123px;
	border-color: #787878;
	background-color: #C1272D;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 779px;
	left: 247px;
}

#buttonu1720:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 123px;
	min-height: 0px;
	margin: 779px -10000px 0px 0px;
}

#buttonu1720.ButtonSelected
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 123px;
	min-height: 0px;
	margin: 779px -10000px 0px 0px;
}

#u1721-4
{
	z-index: 134;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#buttonu1699.ButtonSelected #u1700-4,#buttonu1720:hover #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1720:hover #u1721-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1729-10
{
	z-index: 138;
	width: 222px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 736px;
	left: 473px;
}

#u1730
{
	z-index: 148;
	width: 196px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 469px;
}

#buttonu1732
{
	z-index: 150;
	width: 123px;
	border-color: #787878;
	background-color: #C1272D;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 807px;
	left: 535px;
}

#buttonu1732:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 123px;
	min-height: 0px;
	margin: 807px -10000px 0px 0px;
}

#buttonu1732.ButtonSelected
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 123px;
	min-height: 0px;
	margin: 807px -10000px 0px 0px;
}

#u1733-4
{
	z-index: 151;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#buttonu1720.ButtonSelected #u1721-4,#buttonu1732:hover #u1733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1732.ButtonSelected #u1733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1732:hover #u1733-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu460
{
	width: 0.01px;
	padding-bottom: 339px;
	margin-left: 826px;
	margin-top: -858px;
}

#u460
{
	z-index: 62;
	width: 337px;
	height: 3px;
	top: 263px;
	left: 50%;
	margin-left: 179px;
}

#buttonu1000
{
	z-index: 68;
	width: 56px;
	padding-bottom: 2px;
	top: 409px;
	left: 50%;
	margin-left: 361px;
}

#buttonu1000:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px 0px 0px 361px;
}

#buttonu1000.ButtonSelected
{
	width: 56px;
	min-height: 0px;
	margin: 0px 0px 0px 361px;
}

#u1001-4
{
	z-index: 69;
	width: 52px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 2px;
}

#buttonu1000:hover #u1001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 52px;
	margin: 3px -10000px 0px 0px;
}

#buttonu1000.ButtonSelected #u1001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 52px;
	margin: 3px -10000px 0px 0px;
}

#u1002
{
	z-index: 63;
	width: 76px;
	height: 3px;
	top: 139px;
	left: 50%;
	margin-left: 367px;
}

#u996-4
{
	z-index: 64;
	width: 54px;
	min-height: 18px;
	top: 115px;
	left: 50%;
	margin-left: 380px;
}

#u435
{
	z-index: 41;
	width: 958px;
	height: 3px;
	margin-top: 8px;
}

#pbuttonu445
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: -3px;
}

#buttonu445
{
	z-index: 52;
	width: 188px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 7px;
}

#buttonu445:hover
{
	width: 188px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#buttonu445:active
{
	width: 188px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#buttonu445.ButtonSelected
{
	width: 188px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u446-4
{
	z-index: 53;
	width: 163px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#buttonu445:hover #u446-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 163px;
	margin: 7px -10000px 0px 0px;
}

#buttonu445:active #u446-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 163px;
	margin: 7px -10000px 0px 0px;
}

#buttonu445.ButtonSelected #u446-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 163px;
	margin: 7px -10000px 0px 0px;
}

#buttonu439
{
	z-index: 42;
	width: 165px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 344px;
}

#buttonu439:hover
{
	width: 165px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#buttonu439:active
{
	width: 165px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#buttonu439.ButtonSelected
{
	width: 165px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u440-4
{
	z-index: 43;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 24px;
}

#buttonu439:hover #u440-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu439:active #u440-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu439.ButtonSelected #u440-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu442
{
	z-index: 47;
	width: 216px;
	padding-bottom: 10px;
	margin-right: -10000px;
	left: 516px;
}

#buttonu442:hover
{
	width: 216px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu442:active
{
	width: 216px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu442.ButtonSelected
{
	width: 216px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u443-4
{
	z-index: 48;
	width: 194px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#buttonu442:hover #u443-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 194px;
	margin: 14px -10000px 0px 0px;
}

#buttonu442:active #u443-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 194px;
	margin: 14px -10000px 0px 0px;
}

#buttonu442.ButtonSelected #u443-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 194px;
	margin: 14px -10000px 0px 0px;
}

#buttonu454
{
	z-index: 57;
	width: 146px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 732px;
}

#buttonu454:hover
{
	width: 146px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#buttonu454:active
{
	width: 146px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#buttonu454.ButtonSelected
{
	width: 146px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u455-4
{
	z-index: 58;
	width: 119px;
	min-height: 23px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#buttonu454:hover #u455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px -2px 0px;
}

#buttonu454:active #u455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px -2px 0px;
}

#buttonu454.ButtonSelected #u455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px -2px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

