<div class="pinned-colelem" id="u460" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="167" data-mu-ie-matrix-dy="-167"><!-- simple frame --></div>
<div class="clearfix pinned-colelem" id="u996-4">
    <!-- content -->
    <p>Carrello</p>
</div>
<div class="clearfix colelem" id="pbuttonu1000">
    <!-- group -->
    <div class="Button clearfix" id="buttonu1000">
        <!-- container box -->
        <div class="clearfix grpelem" id="u1001-4">
            <!-- content -->
            <p>Cassa</p>
        </div>
    </div>
    <div id="u1002" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></div>
</div>
