<div class="clearfix colelem" id="pmenuu617">
    @Html.Partial("_SubMenu")
    <div class="clip_frame grpelem" id="u1664">
        <!-- image -->
        <img class="block" id="u1664_img" src="images/copertina%20n%c2%b02%20dada.jpg" alt="" width="293" height="369" />
    </div>
    <div class="clearfix grpelem" id="pu1666-12">
        <!-- column -->
        <div class="clearfix colelem" id="u1666-12">
            <!-- content -->
            <p>Copertina della rivista:</p>
            <p>'DER DADA NO.2'</p>
            <p>1919</p>
            <p>Realizzata da:</p>
            <p>Raoul Hausmann, John Heartfield e George Grosz</p>
        </div>
        <div class="Button clearfix colelem" id="buttonu1667">
            <!-- container box -->
            <div class="clearfix grpelem" id="u1668-4">
                <!-- content -->
                <p>Aggiungi al carrello</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix colelem" id="pu460">
    <!-- group -->
    <div id="u460" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="167" data-mu-ie-matrix-dy="-167"><!-- simple frame --></div>
    <div class="Button clearfix" id="buttonu1000">
        <!-- container box -->
        <div class="clearfix grpelem" id="u1001-4">
            <!-- content -->
            <p>Cassa</p>
        </div>
    </div>
    <div id="u1002" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></div>
    <div class="clearfix" id="u996-4">
        <!-- content -->
        <p>Carrello</p>
    </div>
</div>
<div class="clearfix colelem" id="pu1643">
    <!-- group -->
    <div class="grpelem" id="u1643"><!-- simple frame --></div>
    <div class="clearfix grpelem" id="u1644-4">
        <!-- content -->
        <p>Offerta del giorno...</p>
    </div>
    <div class="clearfix grpelem" id="u1662-4">
        <!-- content -->
        <p>Noi consigliamo...</p>
    </div>
    <div class="clip_frame grpelem" id="u1676">
        <!-- image -->
        <img class="block" id="u1676_img" src="images/litografia%20dada181x181.jpg" alt="" width="181" height="180" />
    </div>
</div>
<div class="clearfix colelem" id="pu1678-10">
    <!-- group -->
    <div class="clearfix grpelem" id="u1678-10">
        <!-- content -->
        <p>Kleine Dada Soirée</p>
        <p>1922</p>
        <p>Realizzato da:</p>
        <p>Theo van Doesburg e Kurt Schwitters</p>
    </div>
    <div class="Button clearfix grpelem" id="buttonu1694">
        <!-- container box -->
        <div class="clearfix grpelem" id="u1695-4">
            <!-- content -->
            <p>Aggiungi al carrello</p>
        </div>
    </div>
</div>
