<nav class="MenuBar clearfix grpelem" id="menuu617">
    <!-- vertical box -->
    <div class="MenuItemContainer clearfix colelem" id="u625">
        <!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u628">
            <!-- vertical box -->
            <div class="MenuItemLabel clearfix colelem" id="u631-4">
                <!-- content -->
                <p>Caratteri mobili</p>
            </div>
        </div>
    </div>
    <div class="MenuItemContainer clearfix colelem" id="u632">
        <!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u635">
            <!-- vertical box -->
            <div class="MenuItemLabel clearfix colelem" id="u636-4">
                <!-- content -->
                <p>Stampe</p>
            </div>
        </div>
    </div>
    <div class="MenuItemContainer clearfix colelem" id="u618">
        <!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u621">
            <!-- vertical box -->
            <div class="MenuItemLabel clearfix colelem" id="u624-4">
                <!-- content -->
                <p>Manifesti</p>
            </div>
        </div>
    </div>
</nav>
<div class="grpelem" id="u639"><!-- simple frame --></div>

