
@{
    ViewBag.Title = "Fotografia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_FotografiaMenu")
    </div>
    <div class="col-md-6">
        <h2>Fotografia</h2>
    </div>
    <div class="col-md-3">
        @Html.Partial("_Cart")
    </div>
</div>

