777<div class="list-group">
    @Html.ActionLink("Dipinti", "Dipinti", "Disegni", null, new { @class = "list-group-item" })
    @Html.ActionLink("Disegni grafici", "DisegniGrafici", "Disegni", null, new { @class = "list-group-item" })
    @Html.ActionLink("Tecnica mista", "TecnicaMista", "Disegni", null, new { @class = "list-group-item" })
</div>
