<div class="list-group">
    @Html.ActionLink("Fotografie", "Fotografie", "Fotografia", null, new { @class = "list-group-item" })
    @Html.ActionLink("Collage", "Collage", "Fotografia", null, new { @class = "list-group-item" })
    @Html.ActionLink("Montaggi", "Fotomontaggi", "Fotografia", null, new { @class = "list-group-item" })
</div>

