<div class="list-group">
    @Html.ActionLink("Caratteri Mobili", "CaratteriMobili", "Graphics", null, new { @class = "list-group-item" })
    @Html.ActionLink("Stampe", "Stampe", "Graphics", null, new { @class = "list-group-item" })
    @Html.ActionLink("Manifesti", "Manifesti", "Graphics", null, new { @class = "list-group-item" })
</div>