<div class="list-group">
    @Html.ActionLink("Sculture/Assemblaggi", "Sculture", "Sculture", null, new { @class = "list-group-item" })
    @Html.ActionLink("Ready-Made", "ReadyMade", "Sculture", null, new { @class = "list-group-item" })
</div>
